<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <globalization responseEncoding="gb2312" requestEncoding="gb2312"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="com.abc.trustpay.client"/>
      </namespaces>
    </pages>
  </system.web>
  <appSettings>
    <!--
    #===============================================================================
    # 网上支付平台系统配置段 - 生产环境 - 请勿更改                      
    #===============================================================================
    #网上支付平台通讯方式（http / https）
    -->
    <add key="TrustPayConnectMethod" value="https"/>
    <!--#网上支付平台服务器名-->
    <add key="TrustPayServerName" value="pay.abchina.com"/>
    <!--#网上支付平台交易端口-->
    <add key="TrustPayServerPort" value="443"/>
    <!--#网上支付平台接口特性-->
    <add key="TrustPayNewLine" value="2"/>
    <!--#网上支付平台交易网址-->
    <add key="TrustPayTrxURL" value="/ebus/ReceiveMerchantTrxReqServlet"/>
	<!--#网上支付平台交易网址-->
    <add key="TrustPayFileTrxURL" value="/ebus/ReceiveMerchantFileTrxReqServlet"/>
    <!--#商户通过浏览器提交网上支付平台交易网址-->
    <add key="TrustPayIETrxURL" value="https://pay.abchina.com/ebus/ReceiveMerchantIERequestServlet"/>
    <!--#代理配置信息，商户如果通过代理地址访问银行支付平台的需配置-->
    <add key="ProxyIP" value=""/>
    <add key="ProxyPort" value=""/>
    <!--
    #==========================================================================================
    # 网上支付平台系统配置段 - 生产环境 - 更改证书存放路径，使其和本地存放路径相匹配（绝对路径）
    #==========================================================================================
    #网上支付平台证书
    -->
    <add key="TrustPayCertFile" value="D:\CertInfo\CertInfo\TrustPay.cer"/>
    <!--#农行根证书文件-->
    <add key="TrustStoreFile" value="D:\CertInfo\CertInfo\abc.truststore"/>
    <!--#农行根证书文件密码-->
    <add key="TrustStorePassword" value="changeit"/>
    <!--
    #==============================================================================
    # 商户资料段 (请更改)                                                                  
    #==============================================================================   
    -->
    <!--#商户代码-->
    <add key="MerchantID" value="10388XXXXXXXXXX"/>
    <!--<add key="MerchantID" value="103881099990013"/>-->
    <!--#商户通过浏览器提交网上支付平台交易失败网址-->
    <add key="MerchantErrorURL" value="http://127.0.0.1:803/ebusclient/MerchantIEFailure.aspx"/>
    <!--
    #==============================================================================
    # 商户系统配置段 (请更改)                                                             
    #==============================================================================
    #交易日志开关（true: 表示写日志， false: 表示不写日志）
    #如果为true，需要填写 #交易日志文件存放位置
    -->
    <add key="EnableLog" value="true"/>
    <!--
    #证书储存媒体
    #0: File
    #1: Hardware
    -->
    <add key="MerchantKeyStoreType" value="0"/>
    <!--#商户证书储存目录档名（当KeyStoreType=0时，必输设定）-->
    <add key="MerchantCertFile" value="D:\CertInfo\CertInfo\10388XXXXXXXXXX.pfx"/>
    <!--#商户私钥加密密码（当KeyStoreType0时，必输设定）-->
    <add key="MerchantCertPassword" value="XXXXXXXX"/>
    <!--#Sign Server地址（当KeyStoreType=1时，必输设定）-->
    <add key="SignServerIP" value="提示：如果使用签名服务器，dIP"/>
    <!--#Sign Server端口（当KeyStoreType=1时，必输设定）-->
    <add key="SignServerPort" value="提示：如果使用签名服务器，请在此设定签名服务器的端口号"/>
    <!--#Sign Server密码（当KeyStoreType=1时，选择设定）-->
    <add key="SignServerPassword" value="提示：如果使用签名服务器，请在此设定签名服务器的密码"/>
    <!--   
    #===============================================================================
    -->
  </appSettings>
  <!--   
    #===============================================================================
    # 网上支付平台日志配置段 - 生产环境 - 请更改交易日志文件
    #===============================================================================
    -->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--交易日志 如D:\log\log.txt -->
      <param name="File" value="D:\log\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="10000000"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header] "/>
        <param name="Footer" value="[Footer] "/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <logger name="LogWriter">
      <level value="ALL"/>
    </logger>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
</configuration>